<%- include('../partials/head') -%>
<title><%= newData.name %> </title>
</head>
<body>
    <%- include('../partials/navBar') -%>
    <div class="container">
                <h1 class="m-2 p-3">Details for '<%= newData.dataObj.show.name%>' </h1>
        <img src="<%=newData.dataObj.show.image.medium%>" alt="">
        <h2>Rating: <%= newData.dataObj.show.rating.average%> </h2> 
        <a href='/home/results/<%=encodeURIComponent(newData.dataObj.show.name)%>/edit'>Rate</a>
        <a href="/home/results">Back</a>
        </form>
    </div>
    <div>
        
    </div>

</body>
<%- include('../partials/foot') -%>
