<%- include('../partials/head') -%>
<title>Home</title>
</head>
<body>
    <%- include('../partials/navBar') -%>
    <h2><%= name %></h2> 
    <form id="ratingForm" method="post" action='/home/results/<%=name%>?_method=PATCH'>
        <h1>please rate the show </h1>
        <input type="radio" id="rating1" name="rating" value="1">
        <label for="rating1">1 star</label><br>
        <input type="radio" id="rating2" name="rcontentating" value="2">
        <label for="rating2">2 stars</label><br>
        <input type="radio" id="rating3" name="rating" value="3">
        <label for="rating3">3 stars</label><br>
        <input type="radio" id="rating4" name="rating" value="4">
        <label for="rating4">4 stars</label><br>
        <input type="radio" id="rating5" name="rating" value="5">
        <label for="rating5">5 stars</label><br>
    
        <button type="submit">Submit Rating</button>
    </form>
    
</body>
<%- include('../partials/foot') -%>